/* Styles for HomePage */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    height: 100vh;
    padding: 20px;
  }
  
  h1 {
    color: #4a90e2;
    margin-bottom: 20px;
  }
  
  .logout-btn {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #0066cc;
  }
  
  .location-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .location-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
  }
  
  .search-btn {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #0066cc;
  }
  
  .weather-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .temp {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .loading-text {
    text-align: center;
    font-size: 1rem;
    color: #4a90e2;
  }
  

  /* Login Page Styles */


  /* Common styles for both Login and Registration pages */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  h2 {
    text-align: center;
    color: #4a90e2;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-size: 1rem;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0066cc;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link p {
    font-size: 1rem;
    color: #333;
  }
  
  .register-link a {
    color: #4a90e2;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .register-link a:hover {
    color: #ff4d4d;
  }
  